/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.image {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.mainpage {
  display: flex;
  flex-direction: column;
}

.image-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainpage-heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.main-para {
  font-style: italic;
  margin: 0;
}

.display-dev {
  display: flex;
  justify-content: space-evenly;
}

.dev-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.icon-items {
  border: 1px solid black;
  border-radius: 40%;
  padding: 5px;
}

a {
  text-decoration: none;
  color: black;
}

.form {
  margin-left: 5rem;
}

.dev-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dev-image {
  height: 500px;
  width: 500px;
  border-radius: 20%;
}

.image-dev {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
