.info-cont h2,
.info-cont p:first-of-type {
  text-align: right;
}

.info-cont {
  width: 20vw;
}

.info-cont a {
  margin-left: 1rem;
  margin-top: 1rem;
}

.contacts :nth-child(odd) {
  background-color: rgb(208, 206, 203);
}

.contacts p {
  margin: 0;
}

.btn {
  background-color: rgb(94, 153, 36);
  margin-top: 1rem;
}

p {
  font-weight: 500;
}

.developer {
  display: flex;
  flex-direction: row;
  width: 90%;
}

.back {
  margin-top: 2rem;
  width: 70px;
  height: 50px;
  border-top-right-radius: 45%;
  border-bottom-right-radius: 45%;
  background-color: rgb(94, 153, 36);
}
