@media screen and (max-width: 700px) {
  .side-cont {
    display: none;
  }
  
.mainpage-items {
    width: 100vw;
  }
.mainpage {
    width: 100%;
}
.routes-cont {
    width: 100%;
    background-color: aqua;
    justify-content: center;
}  
.splide {
    width: 100%;
margin: 0;
}
}